:root {
  --cordotexto: white;
  --fundourl: url(./Assets/bg-mobile.jpg);
  --corborda: rgba(255, 255, 255, 0.5);
  --fundolink: rgba(255, 255, 255, 0.1);
  --fundolinkhover: rgba(255, 255, 255, 0.05);
  --corsociallinkshover: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(Assets/moon-stars.svg);
}
.light {
  --cordotexto: black;
  --fundourl: url(./Assets/Background.png);
  --corborda: rgba(0, 0, 0, 0.5);
  --fundolink: rgba(0, 0, 0, 0.1);
  --fundolinkhover: rgba(0, 0, 0, 0.2);
  --corsociallinkshover: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(Assets/sun.svg);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: var(--fundourl);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  /* maneira mais curta de escrever 
background: url(./Assets/bg-mobile.jpg) no-repeat top center/cover; */
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--cordotexto);
}
#container {
  width: 100%;
  max-width: 588px;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  padding-right: 24px;
  /* poderia escrever dessa forma: margin: 50px auto 0px */
}
#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 112px;
}
#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 16px 24px;

  background: var(--fundolink);
  border: 1px solid var(--corborda);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;
  transition: background 0.5s;
}

ul li a:hover {
  background: var(--fundolinkhover);
  border: 1.5px solid var(--cordotexto);
}

#sociallinks {
  display: flex;
  justify-content: center;

  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 24px;
}
#sociallinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s;
  border-radius: 50%;
  padding: 16px;
}

#sociallinks a:hover {
  background: var(--corsociallinkshover);
}
footer {
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  font-size: 14px;
}
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background-color: white;
  border: 0;
  border-radius: 50%;
  background-image: var(--switch-bg-url);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
  animation: slide-back 0.4s;
}
#switch button:hover {
  outline: 8px solid var(--fundolink);
}
.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--fundolink);
  border-color: var(--corborda);
  border-width: 1px;
  border-style: solid;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
